.testimonials {
  border: 1px solid #000;
  background-color: #3c2f59;
  padding: 10px;
  display: grid;
  @include breakpoint('>=large') {
    grid-template-columns: repeat(2, 1fr);
  }

  margin-top: 20px;
}

.testimonial {
  margin: 10px;
  // border: 0.5px solid #50456a;
  background-color: #50456a;
  border-radius: 10px;
  display: grid;
  padding: 20px 20px 0;

  @include breakpoint('>=medium') {
    grid-template-rows: 2fr auto;
  }

  .content {
    line-height: 1.2;
  }

  .name {
    display: grid;
    font-weight: bold;
    // justify-content: end;
  }
}

.submit {
  margin-right: 20px;
}
