#slogans {
  > section {
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: cover;
  }
  .slogan-1 {
    background-image: url('./../../images/slogans/refugio-lg.jpg');
  }
  .slogan-2 {
    background-image: url('./../../images/slogans/pertener-lg.jpg');
  }
  .slogan-3 {
    background-image: url('./../../images/slogans/experiencia-lg.jpg');
  }
  .slogan-4 {
    background-image: url('./../../images/slogans/conversaciones-lg.jpg');
  }
  .slogan-5 {
    background-image: url('./../../images/slogans/desiglesiados-lg.jpg');
  }
}

.logo {
  object-fit: contain;
}
